@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
}
body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#calculator {
    background-color: black;
    border-radius: 12px;
    width: 280px;
    max-width: 100%;
    overflow: hidden;
}
#display {
    display: block;
    width: 100%;
    height: 70px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgb(17, 15, 15);
    color: red;
    font-size: 2.2rem;
    text-align: right;
}
